/* CSS */
body{ margin: 0;}

section { padding: 30px 15%;}

@media (width <= 720px) {
    section { padding: 30px 10%;}
}
.banner {
    position: relative;
    display: flex;
    align-items: center;
    gap: 50px;
    justify-content: space-between;
    padding-top: 100px;
    padding-bottom: 100px;
    min-height: 40vw;
    margin-bottom: 40px;
}

@media (width <= 620px) {
    .banner {
        text-align: center;
        flex-direction: column-reverse;
        justify-content: center;
    }
}
.banner::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: 120%;
    height: 110%;
    rotate: -2deg;
    background-color:hsla(0,100%,50%,1);
    background-image:
    radial-gradient(at 40% 20%, hsla(244,100%,74%,1) 0px, transparent 50%),
    radial-gradient(at 88% 1%, hsla(189,100%,56%,1) 0px, transparent 50%),
    radial-gradient(at 0% 50%, hsla(265,94%,50%,1) 0px, transparent 50%),
    radial-gradient(at 62% 48%, hsla(219,82%,53%,1) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(22,100%,77%,1) 0px, transparent 50%),
    radial-gradient(at 91% 93%, hsla(242,100%,70%,1) 0px, transparent 50%),
    radial-gradient(at 0% 0%, hsla(252,100%,76%,1) 0px, transparent 50%);
} 

.banner h2 {
    white-space: pre-line;
    margin: 0 0 4px;
    font-size: 40px;
    font-style: normal;
    font-family:  Trebuchet MS;
    color: rgb(0, 0, 0);
}

@keyframes morph {
    0%
    100% {
        border-radius:
        40% 60% 70% 30% /
        40% 40% 60% 50%;
    }
    34% {
        border-radius:
        70% 30% 50% 50% /
        30% 30% 70% 70%;
    }
    67% {
        border-radius:
        100% 60% 60% 100% /
        100% 100% 60% 60%;
    }
}

.banner img {
    width: 400px;
    height: 380px;
    object-fit:cover;
    border-radius: 30% 70% 70% 30% / 
                   43% 32% 68% 57% ;
    transition: border-radius 500ms ease-in-out;
    animation: 
      morph 3.5s linear infinite;
}